body {
  margin: 0;
  padding: 0;
  background-color: #ecedf2;
  font-family: "Poppins", Arial, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h6 {
  display: none;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

nav {
  width: 100%;
  display: inline-block;
}

#interesse-carro-btn {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background-color: #520002;
  padding: 10px 15px;
  border-radius: 50px;
  width: 100%;
  border: none;
  margin: 10px auto;
  cursor: pointer;
}

#img-logo {
  float: left;
  height: 70px;
  width: 70px;
  margin: 10px 0 10px 10px;
  padding: 0;
}

#nav-list {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

#nav-list li {
  display: inline-block;
  margin: 0 5px;
}

#nav-list li a {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background-color: #520002;
  padding: 10px 15px;
  border-radius: 50px;
}

#nav-list li a:has(> span) {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

#nav-list li a:has(> span) span {
  vertical-align: middle;
}

#nav-list li a img {
  position: relative;
  top: 3px;
}

#nav-list li:last-child a {
  padding-left: 50px;
  padding-right: 50px;
}

.a-menu-hamburguer {
  color: #000000;
  text-decoration: none;
  display: none;
}

main {
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
}

#div-imgs,
#detalhes-carro,
#descricao-carro {
  background-color: #ffffff;
  width: 95%;
  margin: 25px auto;
  border-radius: 15px;
  padding: 5px 30px;
  box-sizing: border-box;
}

#div-imgs {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.material-icons {
  height: auto;
  margin: auto 0;
  cursor: pointer;

  /* Não permite que o usuário não copie a seta */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.material-icons.left {
  margin-left: -20px;
}

.material-icons.right {
  margin-right: -20px;
}

#imgs-carro {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

#detalhes-carro {
  display: flex;
  justify-content: space-between;
  height: auto;
}

#detalhes-carro-lado-esquerdo {
  line-height: 15px;
}

#detalhes-carro-lado-direito {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 1.2em;
}

#detalhe-carro-cidade {
  font-weight: 550;
}

#detalhe-carro-valor {
  font-weight: 900;
}

#descricao-carro {
  line-height: 35px;
}

footer {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 0;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

@media (max-width: 714px) {
  header.menu-aberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
  }

  .material-icons.menu-hamburguer {
    display: block;
    cursor: pointer;
  }

  .a-menu-hamburguer {
    width: auto;
    height: auto;
    position: absolute;
    right: 30px;
    top: 35px;
  }

  #nav-list {
    display: none;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
  }

  #nav-list.show {
    display: flex;
    justify-content: flex-start;
  }

  .a-menu-hamburguer {
    display: block;
  }

  body.no-scroll {
    overflow: hidden;
    position: fixed;
  }

  main {
    width: 95%;
  }

  footer {
    font-size: 1em;
  }
}
