body {
  margin: 0;
  padding: 0;
  background-color: #ecedf2;
  font-family: "Poppins", Arial, sans-serif;
}

header {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
}

nav {
  width: 100%;
  display: inline-block;
}

#img-logo {
  float: left;
  height: 70px;
  width: 70px;
  margin: 10px 0 10px 10px;
  padding: 0;
}

#nav-list {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

#nav-list li {
  display: inline-block;
  margin: 0 5px;
}

#nav-list li a {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background-color: #520002;
  padding: 10px 15px;
  border-radius: 50px;
}

#nav-list li a:has(> img) {
  background-color: #ffffff;
  color: #000000;
}

#nav-list li a img {
  position: relative;
  top: 3px;
}

#nav-list li:last-child a {
  padding-left: 50px;
  padding-right: 50px;
}

main {
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;
}

#div-imgs,
#detalhes-carro,
#descricao-carro {
  background-color: #ffffff;
  width: 95%;
  margin: 25px auto;
  border-radius: 15px;
  padding: 5px 30px;
}

#div-imgs {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.icone-seta {
  height: 20px;
  width: 20px;
  fill: black;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}

.icone-seta.left {
  transform: rotate(180deg);
  margin-left: -20px;
}

.icone-seta.right {
  margin-right: -20px;
}

#imgs-carro {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

#detalhes-carro {
  display: flex;
  justify-content: space-between;
  height: auto;
}

#detalhes-carro-lado-esquerdo {
  line-height: 15px;
}

#detalhes-carro-lado-direito {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-size: 20px;
}

#detalhe-carro-cidade {
  font-weight: 550;
}

#detalhe-carro-valor {
  font-weight: 900;
}

#descricao-carro {
  line-height: 35px;
}

footer {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 20px 0;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}
